/* layout for card section */
.flex-three-column {
  display: flex;
  margin: 0px auto 110px;
  max-width: 1300px;
  padding-top: 100px;
}

.flex-three-column p {
  font-size: 18px;
}

.flex-three-column ul li {
  text-align: left;
  list-style: square;
}

.three-column-one {
  width: 33.33%;
  margin: 0px 20px;
  background-color: rgba(245, 239, 220, 0.97);
}

.three-column-two {
  width: 33.33%;
  margin: 0px 20px;
  background-color: rgba(245, 239, 220, 0.97);
}

.three-column-three {
  width: 33.33%;
  margin: 0px 20px;
  background-color: rgba(245, 239, 220, 0.97);
}

/* layout and style for each card */
.card {
  display: flex;
  /* show the items horizontally as a column */
  flex-direction: column;
  align-items: center;
  padding: 50px;
  /* adding shadow to the box */
  box-shadow: 0px 10px 10px 0px rgba(26, 77, 46, 0.7);
}

.card-text {
  text-align: center;
  margin-top: 20px;
}

/* place the heading of each card in center in horizontal direction */
section.flex-three-column h4 {
  padding: 0px;
}

/* Heading in each card(column) */
h4 {
  padding-left: 40px;
}
