@charset "utf-8";

/* makes the all the content in the page to flow smoothly */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(232, 223, 202);
  color: rgb(26, 77, 46);
  font-family: "Montserrat";
  font-size: 25px;
}

section#text-to-reveal {
  padding: 110px 10% 80px;
  text-align: justify;
}

section#text-to-reveal h1 {
  font-size: 36px;
  text-align: left;
  padding-bottom: 30px;
}

/* style for hyperlink */
a {
  text-decoration: underline;
  font-style: italic;
  color: black;
}

.conclusion {
  padding: 50px 10%;
  text-align: center;
}

/* layout for first two columns  */
.two-columns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

.column-one {
  width: 50%;
  text-align: justify;
}

.column-two {
  width: 35%;
  margin-left: 80px;
  outline: grey solid 1px;
  filter: opacity(80%);
  border-radius: 20%;
  transition: ease 0.3s;
}

.column-two:hover {
  transform: scale(1.05);
}

.text {
  padding: 40px 10% 0;
}

strong {
  font-weight: 650;
}
/* style for horizontal line */
hr {
  width: 80%;
  border: 0.75px solid rgb(26, 77, 46);
}
