/*  style for background image*/
.hero-section {
  /*https://www.gettyimages.com */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url(../images/bc2.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* style and layout for text on the background image */
.hero-text {
  text-align: left;
  position: absolute;
  top: 50%; /*center the text */
  left: 40%;
  transform: translate(-50%, -50%);
  color: rgba(245, 239, 230, 0.9);
}

a#text-to-reveal {
  left: 45%;
}

.hero-text p,
h1 {
  margin: auto;
}

/* button */
.hero-text button {
  border: 1.5px solid rgba(245, 239, 230, 0.9);
  border-radius: 5px;
  outline: 0;
  transition: 0.2s;
  margin-left: 5px;
  display: inline-block;
  padding: 10px 20px;
  color: black;
  background-color: rgba(245, 239, 230, 0.9);
  text-align: center;
  cursor: pointer;
  font-size: 20px;
}

.hero-text button:hover {
  color: black;
  background-color: transparent;
  color: rgba(245, 239, 230, 0.9);
  border: 1.5px solid rgba(245, 239, 230, 0.9);
}
