/* navigation bar style */

.navbar {
  background-color: rgba(245, 239, 230, 0.97);
  background-size: cover;
  position: fixed; /*stay fixed*/
  width: 100vw;
  z-index: 99; /*place nav bar in another dimension */
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.nav-item {
  list-style-type: none;
  display: flex; /*display flex converts nav-item in flex container*/
  justify-content: right;
  align-items: center;
  height: 80px;
  margin: 0 10px 0;
}

.nav-item li a {
  display: block;
  color: rgb(26, 77, 46);
  text-decoration: none;
  padding: 15px 20px;
  font: 20px "Montserrat";
  transition: ease 0.2s;
  text-align: center;
}

/* hover link */
.nav-item li a:hover {
  text-decoration: none;
  color: rgba(245, 239, 230, 0.97);
  font-size: 20px;
  background-color: rgb(26, 77, 46);
  border-radius: 10px;
}
